/*
 * Copyright (c) 2019 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&spi2 {

	lis2dh@0 {
		compatible = "st,lis2dh";
		reg = <0>;
		spi-max-frequency = <8000000>;
		label = "LIS2DH";
		int1-gpios = <&gpio0 13 0>;
	};
};
